<%- include('../adminLayouts/header.ejs') %>
    <%- include('../adminLayouts/navbar.ejs') %>

        <div class="content-main">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header text-center">
                            <h2>Add Offer</h2>
                        </div>
                        <div class="card-body">
                            <form id="addOfferForm">
                                <div class="mb-3">
                                    <label for="offerName" class="form-label">Offer Name</label>
                                    <input type="text" class="form-control" id="offerName" name="offerName">
                                    <div class="error-message" id="offerName-error"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="startingDate" class="form-label">Starting Date</label>
                                    <input type="date" class="form-control" id="startingDate" name="startingDate">
                                    <div class="error-message" id="startingDate-error"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="endingDate" class="form-label">Ending Date</label>
                                    <input type="date" class="form-control" id="endingDate" name="endingDate">
                                    <div class="error-message" id="endingDate-error"></div>
                                </div>
                                <div class="mb-3">
                                    <label for="discount" class="form-label">Discount (%)</label>
                                    <input type="number" class="form-control" id="discount" name="discount">
                                    <div class="error-message" id="discount-error"></div>
                                </div>


                                <button type="submit" class="btn btn-primary"
                                    style="display: block; margin: 0 auto;">Add Offer</button>
                                <br>
                                <div class="error-message" id="form-errors" style="text-align: center;"></div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Include Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

        <!-- Include SweetAlert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script>
            document.getElementById('addOfferForm').addEventListener('submit', function (event) {
                event.preventDefault(); // Prevent the default form submission

                // Create FormData object
                const formData = new FormData(this);

                // Convert FormData to object
                const formDataObject = {};
                formData.forEach((value, key) => {
                    formDataObject[key] = value;
                });

                // Validation function
                function validateForm(formData) {
                    let isValid = true;
                    let startingDateValue, endingDateValue;

                    for (const [key, value] of formData.entries()) {
                        const inputField = document.getElementById(key);
                        const errorMessage = inputField.nextElementSibling;

                        if (!value.trim()) {
                            errorMessage.textContent = `${key} is required`;
                            errorMessage.classList.add('error');
                            isValid = false;
                        } else if (key === 'offerName' && value.trim().length >= 30) {
                            errorMessage.textContent = 'Offer name must be less than 30 characters';
                            errorMessage.classList.add('error');
                            isValid = false;
                        } else if (key === 'discount') {
                            const discountValue = parseFloat(value);
                            if (discountValue < 1 || discountValue > 99) {
                                errorMessage.textContent = `${key} must be between 1 and 99`;
                                errorMessage.classList.add('error');
                                isValid = false;
                            } else {
                                errorMessage.textContent = '';
                                errorMessage.classList.remove('error');
                            }
                        } else if (key === 'startingDate') {
                            startingDateValue = new Date(value);
                            errorMessage.textContent = '';
                            errorMessage.classList.remove('error');
                        } else if (key === 'endingDate') {
                            endingDateValue = new Date(value);
                            errorMessage.textContent = '';
                            errorMessage.classList.remove('error');
                        } else {
                            errorMessage.textContent = '';
                            errorMessage.classList.remove('error');
                        }
                    }

                    const today = new Date();
                    today.setHours(0, 0, 0, 0); // Set time to start of day for accurate comparison

                    if (startingDateValue && endingDateValue) {
                        if (startingDateValue < today) {
                            const startingDateField = document.getElementById('startingDate');
                            const startingDateErrorMessage = startingDateField.nextElementSibling;
                            startingDateErrorMessage.textContent = `Starting date must be greater than or equal to today`;
                            startingDateErrorMessage.classList.add('error');
                            isValid = false;
                        }
                        if (endingDateValue < today) {
                            const endingDateField = document.getElementById('endingDate');
                            const endingDateErrorMessage = endingDateField.nextElementSibling;
                            endingDateErrorMessage.textContent = `Ending date must be greater than or equal to today`;
                            endingDateErrorMessage.classList.add('error');
                            isValid = false;
                        }
                        if (startingDateValue > endingDateValue) {
                            const errorMessage = document.getElementById('startingDate-error');
                            errorMessage.textContent = `Starting date must be less than or equal to ending date`;
                            errorMessage.classList.add('error');
                            isValid = false;
                        }
                    }

                    return isValid;
                }
                // Validate the form
                if (!validateForm(formData)) {
                    return;
                }


                axios.post('/admin/offer/addOffer', formDataObject)
                    .then(function (response) {
                        const data = response.data;
                        if (data.success) {
                            // Show a success message using SweetAlert2
                            const Toast = Swal.mixin({
                                toast: true,
                                position: "top-end",
                                showConfirmButton: false,
                                timer: 3000,
                                timerProgressBar: true,
                                didOpen: (toast) => {
                                    toast.onmouseenter = Swal.stopTimer;
                                    toast.onmouseleave = Swal.resumeTimer;
                                }
                            });
                            Toast.fire({
                                icon: "success",
                                title: 'Success!',
                                text: 'Offer added successfully',
                            });
                            setTimeout(() => {
                                location.href = data.url;
                            }, 2000);
                        }
                    })
                    .catch(err => {
                        if (err.response && err.response.data && !err.response.data.success) {
                            const errorMessageContainer = document.getElementById('form-errors');
                            errorMessageContainer.textContent = err.response.data.message;
                            errorMessageContainer.classList.add('error');

                        } else {
                            console.error(err);
                        }
                    });

            });

        </script>

        <%- include('../adminLayouts/footer.ejs') %>