<header class="header-area header-style-3 header-height-2">
    <div class="header-top header-top-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-4">
                    <div class="header-info">
                        <ul>
                            <li><i class="fi-rs-smartphone"></i> <a href="#">+91 9633351499</a></li>
                            <li><i class="fi-rs-marker"></i><a href="">Our location</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4">
                    <div class="text-center">
                        <div id="news-flash" class="d-inline-block">
                            <ul>
                                <li>Get great devices up to 50% off <a href="#">View details</a></li>
                                <li>Supper Value Deals - Save more with coupons</li>
                                <li>Trendy 25silver jewelry, save up 35% off today <a href="#">Shop now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="header-info header-info-right">
                        <ul>
                            <li>
                                <a class="language-dropdown-active" href="#"><i class="fi-rs-world"></i> English</a>
                            </li>
                            <% if (!req.session.user_id ) { %>
                                <li>
                                    <i class="fi-rs-user"></i>
                                    <a href="/login">Log In</a>
                                </li>
                                <li>
                                    <i class="fi-rs-user"></i>
                                    <a href="/register">Sign Up</a>
                                </li>
                                <% } else { %>
                                    <li>
                                        <i class="fi-rs-user"></i>
                                        <a href="/dashboard">Dashboard</a>
                                    </li>
                                    <li>
                                        <form method="POST" action="/logout">
                                            <button type="submit">Logout</button>
                                        </form>
                                    </li>
                                    <% } %>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
        <div class="container">
            <div class="header-wrap">
                <div class="logo logo-width-1">
                    <a href="/"><img src="/imgs/theme/logo.jpg" alt="logo"></a>
                </div>
                <div class="header-right">
                    <div class="search-style-2">
                        <form action="#">
                            <select class="select-active">
                                <option>All Categories</option>
                                <option>Women's</option>
                                <option>Men's</option>
                                <option>Kid's</option>
                            </select>
                            <input type="text" placeholder="Search for items...">
                        </form>
                    </div>
                    <div class="header-action-right">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <a href="/wishList">
                                    <img class="svgInject" alt="Evara" src="/imgs/theme/icons/icon-heart.svg">
                                    <!-- <span class="pro-count blue">4</span> -->
                                </a>
                            </div>
                            <div class="header-action-icon-2">
                                <a class="mini-cart-icon" href="/cart">
                                    <img alt="Evara" src="/imgs/theme/icons/icon-cart.svg">
                                    <!-- <span class="pro-count blue">2</span> -->
                                </a>
                                <!-- <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                    <ul>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara" src="/imgs/shop/thumbnail-3.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Daisy Casual Bag</a></h4>
                                                <h4><span>1 × </span>$800.00</h4>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="shopping-cart-img">
                                                <a href="shop-product-right.html"><img alt="Evara" src="/imgs/shop/thumbnail-2.jpg"></a>
                                            </div>
                                            <div class="shopping-cart-title">
                                                <h4><a href="shop-product-right.html">Corduroy Shirts</a></h4>
                                                <h4><span>1 × </span>$3200.00</h4>
                                            </div>
                                            <div class="shopping-cart-delete">
                                                <a href="#"><i class="fi-rs-cross-small"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="shopping-cart-footer">
                                        <div class="shopping-cart-total">
                                            <h4>Total <span>$4000.00</span></h4>
                                        </div>
                                        <div class="shopping-cart-button">
                                            <a href="/cart" class="outline">View cart</a>
                                            <a href="shop-checkout.html">Checkout</a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom header-bottom-bg-color sticky-bar">
        <div class="container">
            <div class="header-wrap header-space-between position-relative  main-nav">
                <div class="logo logo-width-1 d-block d-lg-none">
                    <a href="/"><img src="/imgs/theme/logo.jpg" alt="logo"></a>
                </div>
                <div class="header-nav d-none d-lg-flex">
                    <div class="main-categori-wrap d-none d-lg-block">
                        <a class="categori-button-active" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-large">
                            <ul>
                                <li class="has-children">
                                    <a href="#"><i class="evara-font-dress"></i>Women's Clothing</a>
                                    <div class="dropdown-menu">
                                        <ul class="mega-menu d-lg-flex">
                                            <li class="mega-menu-col col-lg-7">
                                                <ul class="d-lg-flex">
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li><span class="submenu-title">Hot & Trending</span></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Shirt</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">T-Shirt</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Formal Shirt</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Jackets</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Printed Shirt</a></li>
                                                        </ul>
                                                    </li>
                                                    <!-- <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li><span class="submenu-title">Bottoms</span></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">Leggings</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">Skirts</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">Shorts</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">Jeans</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">Pants & Capris</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">Bikini Sets</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">Cover-Ups</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item" href="#">Swimwear</a></li>
                                                        </ul>
                                                    </li> -->
                                                </ul>
                                            </li>
                                            <li class="mega-menu-col col-lg-5">
                                                <div class="header-banner2">
                                                    <img src="/imgs/banner/menu-banner-2.jpg" alt="menu_banner1">
                                                    <div class="banne_info">
                                                        <h6>10% Off</h6>
                                                        <h4>New Arrival</h4>
                                                        <a href="#">Shop now</a>
                                                    </div>
                                                </div>
                                                <div class="header-banner2">
                                                    <img src="/imgs/banner/menu-banner-3.jpg" alt="menu_banner2">
                                                    <div class="banne_info">
                                                        <h6>15% Off</h6>
                                                        <h4>Hot Deals</h4>
                                                        <a href="#">Shop now</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="has-children">
                                    <a href="#"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                    <div class="dropdown-menu">
                                        <ul class="mega-menu d-lg-flex">
                                            <li class="mega-menu-col col-lg-7">
                                                <ul class="d-lg-flex">
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li><span class="submenu-title">Cool deals</span></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Shirt</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">T-Shirt</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Formal Shirt</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Jackets</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Printed Shirt</a></li>
                                                        </ul>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li class="mega-menu-col col-lg-5">
                                                <div class="header-banner2">
                                                    <img src="/imgs/banner/menu-banner-4.jpg" alt="menu_banner1">
                                                    <div class="banne_info">
                                                        <h6>10% Off</h6>
                                                        <h4>New Arrival</h4>
                                                        <a href="#">Shop now</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="has-children">
                                    <a href="#"><i class="evara-font-smartphone"></i> Kid's Clothing</a>
                                    <div class="dropdown-menu">
                                        <ul class="mega-menu d-lg-flex">
                                            <li class="mega-menu-col col-lg-7">
                                                <ul class="d-lg-flex">
                                                    <li class="mega-menu-col col-lg-6">
                                                        <ul>
                                                            <li><span class="submenu-title">Hot & Trending</span></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Shirt</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">T-Shirt</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Formal Shirt</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Jackets</a></li>
                                                            <li><a class="dropdown-item nav-link nav_item"
                                                                    href="#">Printed Shirt</a></li>


                                                        </ul>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li class="mega-menu-col col-lg-5">
                                                <div class="header-banner2">
                                                    <img src="/imgs/banner/menu-banner-5.jpg" alt="menu_banner1">
                                                    <div class="banne_info">
                                                        <h6>10% Off</h6>
                                                        <h4>New Arrival</h4>
                                                        <a href="#">Shop now</a>
                                                    </div>
                                                </div>
                                                <div class="header-banner2">
                                                    <img src="/imgs/banner/menu-banner-6.jpg" alt="menu_banner2">
                                                    <div class="banne_info">
                                                        <h6>15% Off</h6>
                                                        <h4>Hot Deals</h4>
                                                        <a href="#">Shop now</a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>

                                <li><a href=""> Comming Soon...</a></li>
                                <li><a href="#"><i class="evara-font-diamond"></i>Jewelry & Accessories</a></li>
                                <li><a href="#"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                <li>
                                    <ul class="more_slide_open" style="display: none;">
                                        <li><a href="#"><i class="evara-font-desktop"></i>Beauty, Health</a></li>
                                        <li><a href="#"><i class="evara-font-cpu"></i>Bags</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="more_categories">Show more...</div>
                        </div>
                    </div>
                    <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                        <nav>
                            <ul>
                                <li><a class="active" href="/">Home</a>
                                </li>


                                <li class="position-static"><a href="/shop">Shop</i></a>
                                    <ul class="mega-menu">
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">Women's Fashion</a>
                                            <ul>
                                                <li><a class="dropdown-item nav-link nav_item" href="#">Shirt</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="#">T-Shirt</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="#">Formal Shirt</a>
                                                </li>
                                                <li><a class="dropdown-item nav-link nav_item" href="#">Jackets</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="#">Printed
                                                        Shirt</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">Men's Fashion</a>
                                            <ul>
                                                <li><a class="dropdown-item nav-link nav_item" href="#">Shirt</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="#">T-Shirt</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="#">Formal Shirt</a>
                                                </li>
                                                <li><a class="dropdown-item nav-link nav_item" href="#">Jackets</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="#">Printed
                                                        Shirt</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-22">
                                            <a class="menu-title" href="#">Kid's Fashion</a>
                                            <ul>
                                                <li><a class="dropdown-item nav-link nav_item" href="#">Shirt</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="#">T-Shirt</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="#">Formal Shirt</a>
                                                </li>
                                                <li><a class="dropdown-item nav-link nav_item" href="#">Jackets</a></li>
                                                <li><a class="dropdown-item nav-link nav_item" href="#">Printed
                                                        Shirt</a></li>
                                            </ul>
                                        </li>
                                        <li class="sub-mega-menu sub-mega-menu-width-34">
                                            <div class="menu-banner-wrap">
                                                <a href="shop-product-right.html"><img
                                                        src="/imgs/banner/menu-banner.jpg" alt="Evara"></a>
                                                <div class="menu-banner-content">
                                                    <h4>Hot deals</h4>
                                                    <h3>Don't miss<br> Trending</h3>
                                                    <div class="menu-banner-price">
                                                        <span class="new-price text-success">Save to 50%</span>
                                                    </div>
                                                    <div class="menu-banner-btn">
                                                        <a href="shop-product-right.html">Shop now</a>
                                                    </div>
                                                </div>
                                                <div class="menu-banner-discount">
                                                    <h3>
                                                        <span>35%</span> off
                                                    </h3>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="page-about.html">About</a></li>
                                <li><a href="#">Contact </a> </li>

                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="hotline d-none d-lg-block">
                    <p><i class="fi-rs-headset"></i><span>Hotline</span> 1900 - 888 </p>
                </div>
                <p class="mobile-promotion">Happy <span class="text-brand">Mother's Day</span>. Big Sale Up to 40%</p>
                <div class="header-action-right d-block d-lg-none">
                    <div class="header-action-2">
                        <div class="header-action-icon-2">
                            <a href="/wishList">
                                <img alt="Evara" src="/imgs/theme/icons/icon-heart.svg">
                                <!-- <span class="pro-count white">4</span> -->
                            </a>
                        </div>
                        <div class="header-action-icon-2">
                            <a class="mini-cart-icon" href="/cart">
                                <img alt="Evara" src="/imgs/theme/icons/icon-cart.svg">
                                <!-- <span class="pro-count white">2</span> -->
                            </a>
                            <!-- <div class="cart-dropdown-wrap cart-dropdown-hm2">
                                <ul>
                                    <li>
                                        <div class="shopping-cart-img">
                                            <a href="shop-product-right.html"><img alt="Evara" src="/imgs/shop/thumbnail-3.jpg"></a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href="shop-product-right.html">Plain Striola Shirts</a></h4>
                                            <h3><span>1 × </span>$800.00</h3>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="fi-rs-cross-small"></i></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="shopping-cart-img">
                                            <a href="shop-product-right.html"><img alt="Evara" src="/imgs/shop/thumbnail-4.jpg"></a>
                                        </div>
                                        <div class="shopping-cart-title">
                                            <h4><a href="shop-product-right.html">Macbook Pro 2022</a></h4>
                                            <h3><span>1 × </span>$3500.00</h3>
                                        </div>
                                        <div class="shopping-cart-delete">
                                            <a href="#"><i class="fi-rs-cross-small"></i></a>
                                        </div>
                                    </li>
                                </ul>
                                <div class="shopping-cart-footer">
                                    <div class="shopping-cart-total">
                                        <h4>Total <span>$383.00</span></h4>
                                    </div>
                                    <div class="shopping-cart-button">
                                        <a href="/cart">View cart</a>
                                        <a href="shop-checkout.html">Checkout</a>
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="header-action-icon-2 d-block d-lg-none">
                            <div class="burger-icon burger-icon-white">
                                <span class="burger-icon-top"></span>
                                <span class="burger-icon-mid"></span>
                                <span class="burger-icon-bottom"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mobile-header-active mobile-header-wrapper-style">
    <div class="mobile-header-wrapper-inner">
        <div class="mobile-header-top">
            <div class="mobile-header-logo">
                <a href="/"><img src="/imgs/theme/logo.jpg" alt="logo"></a>
            </div>
            <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                <button class="close-style search-close">
                    <i class="icon-top"></i>
                    <i class="icon-bottom"></i>
                </button>
            </div>
        </div>
        <div class="mobile-header-content-area">
            <div class="mobile-search search-style-3 mobile-header-border">
                <form action="#">
                    <input type="text" placeholder="Search for items…">
                    <button type="submit"><i class="fi-rs-search"></i></button>
                </form>
            </div>
            <div class="mobile-menu-wrap mobile-header-border">
                <div class="main-categori-wrap mobile-header-border">
                    <a class="categori-button-active-2" href="#">
                        <span class="fi-rs-apps"></span> Browse Categories
                    </a>
                    <div class="categori-dropdown-wrap categori-dropdown-active-small">
                        <ul>
                            <li><a href="#"><i class="evara-font-dress"></i>Women's Clothing</a></li>
                            <li><a href="#"><i class="evara-font-tshirt"></i>Men's Clothing</a></li>
                            <li> <a href="#"><i class="evara-font-smartphone"></i> Kid's Clothing</a></li>
                            <li><a href="#">Comming soon...</a></li>
                            <li><a href="#"><i class="evara-font-diamond"></i>Jewelry & Accessories</a></li>
                            <li><a href="#"><i class="evara-font-high-heels"></i>Shoes</a></li>
                            <li><a href="#"><i class="evara-font-desktop"></i>Beauty, Health</a></li>
                            <li><a href="#"><i class="evara-font-cpu"></i>Bags</a></li>
                        </ul>
                    </div>
                </div>
                <!-- mobile menu start -->
                <nav>
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                href="/">Home</a> </li>

                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="/shop">Shop</a>
                            <ul class="dropdown">
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Women's
                                        Fashion</a>
                                    <ul class="dropdown">
                                        <li><a class="dropdown-item nav-link nav_item" href="#">Shirt</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="#">T-Shirt</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="#">Formal Shirt</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="#">Jackets</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="#">Printed Shirt</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Men's
                                        Fashion</a>
                                    <ul class="dropdown">
                                        <li><a class="dropdown-item nav-link nav_item" href="#">Shirt</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="#">T-Shirt</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="#">Formal Shirt</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="#">Jackets</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="#">Printed Shirt</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Kid's
                                        Fashion</a>
                                    <ul class="dropdown">
                                        <li><a class="dropdown-item nav-link nav_item" href="#">Shirt</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="#">T-Shirt</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="#">Formal Shirt</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="#">Jackets</a></li>
                                        <li><a class="dropdown-item nav-link nav_item" href="#">Printed Shirt</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">About</a></li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Contact</a></li>
                        <!-- <li class="menu-item-has-children"><span class="menu-expand"></span><a href="blog-category-fullwidth.html">Blog</a>
                            <ul class="dropdown">
                                <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                <li><a href="blog-category-list.html">Blog Category List</a></li>
                                <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Single Product Layout</a>
                                    <ul class="dropdown">
                                        <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                        <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                        <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                            <ul class="dropdown">
                                <li><a href="page-about.html">About Us</a></li>
                                <li><a href="">Contact</a></li>
                                <li><a href="page-account.html">My Account</a></li>
                                <li><a href="page-login-register.html">login/register</a></li>
                                <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                <li><a href="page-terms.html">Terms of Service</a></li>
                                <li><a href="page-404.html">404 Page</a></li>
                            </ul>
                        </li> -->
                        <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                            <ul class="dropdown">
                                <li><a href="#">English</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- mobile menu end -->
            </div>
            <div class="mobile-header-info-wrap mobile-header-border">
                <div class="single-mobile-header-info mt-30">
                    <a href=""> Our location </a>
                </div>
                <div class="single-mobile-header-info">

                    <% if (!req.session.user_id) { %>
                        <a href="/login">Log In</a>
                </div>
                <div class="single-mobile-header-info">
                    <a href="/register">Sign Up</a>
                    <% } else { %>


                        <a href="/dashboard"><i class="fi-rs-user"></i> Dashboard</a>
                        <br>
                        <form method="POST" action="/logout">
                            <button type="submit">Logout</button>
                        </form>
                        <% } %>

                </div>


                <div class="single-mobile-header-info">
                    <a href="#">+91 9633351499</a>
                </div>
            </div>
            <div class="mobile-social-icon">
                <h5 class="mb-15 text-grey-4">Follow Us</h5>
                <a href="#"><img src="/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                <a href="#"><img src="/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                <a href="#"><img src="/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                <a href="#"><img src="/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                <a href="#"><img src="/imgs/theme/icons/icon-youtube.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>