 <!-- Pagination -->
 <div class="pagination-area mt-30 mb-50" id="pagination-container">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <% for (let i=1; i <=totalPages; i++) { %>
                <% if (i===currentPage) { %>
                    <li class="page-item active"><a class="page-link"
                            onclick="changePage(`<%= i %>`)">
                            <%= i %>
                        </a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link"
                                onclick="changePage(`<%= i %>`)">
                                <%= i %>
                            </a></li>
                        <% } %>
                            <% } %>

        </ul>
    </nav>
</div>